#app {
  /* min-width: 334px; */
  width: 334px;

  /* min-height: 334px; */
  height: 592px;

  border: 1px #6d6d6d solid;
  background-color: #EBEBEB;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
