@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

#app {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;

  /* min-width: 334px; */
  width: 334px;

  /* min-height: 334px; */
  height: 594px;

  border: 1px #979797 solid;
  background-color: #e2dfdf;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
