body {
user-select: none;
height: 1000px;

  display: flex;
  justify-content: center;

  /* background: rgb(123,221,222);
  background: linear-gradient(to left, rgba(123,221,222,1) 0%, rgba(204,187,127,1) 100%); */

  /* background: linear-gradient(to left, #fddb92, #d1fdff); */

  /* background: linear-gradient(to left, #f5f7fa, #c3cfe2); */

  
  background: -webkit-linear-gradient(90deg, rgba(158, 193, 156, 0.45), rgb(171, 211, 212, 0.45));
  background: -moz-linear-gradient(90deg, rgb(158, 193, 156, 0.45), rgb(171, 211, 212, 0.45));
  background: linear-gradient(90deg, rgb(158, 193, 156, 0.45), rgb(171, 211, 212, 0.45));
    
  
  /* background-image: linear-gradient(to left, #e0e0e0, #d2d2d2, #c5c5c5, #b7b7b7, #aaaaaa, #ababab, #ababab, #acacac, #bbbbbb, #cacaca, #d9d9d9, #e9e9e9); */
}

::-webkit-scrollbar { 
  width: 8px;
  opacity: 1;
}
::-webkit-scrollbar-thumb {
  width: 8px; 
  background-color: rgba(224, 224, 224, 0.829); 
  border-radius: 4px;
} 