.key, .double-key {
  user-select: none;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: #C4C4C4;
  margin-right: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  border-radius: 3px;
  transition: .2s;
}
.key:active {
  background-color: #afaeae;
}

.math-operator {
  background-color: #ff8c00;
  color: #F1F1F1;
}
.math-operator:active {
  background-color: #FF9D40;
}

.double-key {
  width: 162px;
}

.delete {
  font-size: 24px;
}