#toggle-btn {
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  background-color: #dad8d8;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #333333;
  font-size: 22px;
  font-weight: bold;
}